<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="mb-5 mt-5">New Book</h1>
    <form class="needs-validation" novalidate="" method="POST" action="/books">
        <div class="row g-3">

            <div class="col-sm-12">
                <label for="bookTitle" class="form-label">Title of the Book</label>
                <input type="text" class="form-control" id="bookTitle" name="bookTitle" required>
                <div class="invalid-feedback">
                    Title of the book is required
                </div>
            </div>
            <div class="col-sm-6">
                <label for="actorName" class="form-label">Actor</label>
                <input type="text" class="form-control" id="actorName" name="actorName" required>
                <div class="invalid-feedback">
                    Actor is required.
                </div>
            </div>
            <div class="col-sm-6">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="number" class="form-control" id="isbn" name="isbn" required>
                <div class="invalid-feedback">
                    ISBN is required.
                </div>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a summary here" id="summary"
                    style="height: 100px" name="summary" required></textarea>
                <label for="summary">Summary</label>
                <div class="invalid-feedback">
                  Summary is required.
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" value="Create Book">
                <input class="btn btn-primary" type="reset" name="clear" value="Clear">
            </div>
        </div>
    </form>
  
    <% locals.books.forEach(books => { %>
    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=books.id%>" aria-expanded="true" aria-controls="collapse<%=books.id%>">
              <%=books.title %>
            </button>
          </h2>
          <div id="collapse<%=books.id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%=books.summary %>
            </div>
          </div>
        </div>
    </div>
    <% }); %>
</div>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>