<%- include("partials/header.ejs") %>

    <div class="container">
        <h1 class="mb-5 mt-5">New Note</h1>

        <!-- The hidden field receives the selected book in the select field and send to the server to bring the notes related to the book
         The hidden field receives the value through a script at the bottom of this file  -->
        <form id="hiddenBook" method="GET" action="/notes/list">
            <input type="hidden" id="hiddenBookID" name="hiddenBookID" value="<%=locals.hiddenBookID%>">
        </form>

        <form class="needs-validation" novalidate method="POST" action="/notes">
            <div class="row g-3">
                <div class="col-12">
                    <label for="country" class="form-label">Books</label>

                    <select class="form-select" id="book" name="book" required>
                        <option value="" selected>Choose a Book</option>
                        <% locals.books.forEach(function(books) { %>
                            <!-- If used to keep the option selected then it comes back from the server -->
                            <option value="<%=books.id %>" name="<%=books.id %>" <% if(books.id==locals.hiddenBookID)
                                {%><%- selected="selected" %>
                                    <%}%>><%=books.title %>
                            </option>
                            <% }); %>
                    </select>

                    <div class="invalid-feedback">
                        Please select a book.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="readDate" class="form-label">Read Date</label>
                    <input type="date" class="form-control" id="readDate" name="readDate" required>
                    <div class="invalid-feedback">
                        Valid 'Read Date' is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" required min=0 max=5>
                    <div class="invalid-feedback">
                        Valid rating is required.
                    </div>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a note here" id="note" name="note"
                        style="height: 100px" required></textarea>
                    <label for="note">Note</label>
                    <div class="invalid-feedback">
                        Note is required.
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input class="btn btn-primary" type="submit" value="Create Note">
                    <input class="btn btn-primary" type="reset" value="Clear">
                </div>
            </div>
        </form>


        <% if(locals.notes) { %>
            <div class="container">
                <div class="book-info">
                    <div class="book-notes">
                        <h4>Notes</h4>
                        <% notes.forEach(element=> { %>
                            <p>
                                <%= element.notes %>
                            </p>
                            <% }) %>
                    </div>
                </div>
            </div>
            <% } else if (locals.noBookNotesFound == true) { %>
                <h4>No notes available yet!</h4>
                
            <% } %>
    </div>

    <script>
        function sendHiddenBookId() {
            // Obtain the id/value of the book field and pass it to the hidden field
            document.querySelector("#hiddenBookID").value = parseInt(document.querySelector("#book").value);
            document.querySelector("#hiddenBook").submit();
        }

        // When the field changes, it calls the field to manage the id to the hidden field
        document.querySelector("#book").addEventListener('change', sendHiddenBookId);
    </script>

    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>