<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="mb-5 mt-5">Notes - <%= notes[0].title %></h1>
    <div class="book-info">
        <div class="book-summary">
            <h4>Summary:</h4>
            <%= notes[0].summary %>
        </div>
        <div class="book-notes">
            <h4>Notes</h4>
            <% notes.forEach(element => { %>
                <p><%= element.notes %></p>
            <% }) %>
        </div>
        <form method="post" action="/notes/delete">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="text" name="idNoteToDelete" value="<%= notes[0].id %>">
                <input type="submit" class="btn btn-danger" name="deleteNotes" value="Delete notes">
            </div>
        </form>
    </div>
</div>